body{
    background-color: lightgray;
}
.titulo-pagina {
    color: aliceblue;
    height: 200px;
    position: relative;
    background-image: url('../img/movie-night.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.table-fixed {
    overflow-y: auto;
    height: 600px;
}
.table-fixed thead th {
    position: sticky;
    top: 0;
}
#botaoNovoCliente, #botaoNovoFilme {
    margin: 5px 15px 10px 15px;
}
#formNovoCliente, #formNovoFilme {
    margin-top: 1rem;
}
/* FILME CSS  */
#infoSemFilme {
    margin-top: 50px;
}
.card-margin {
    margin-bottom: 1rem;
}
@media (max-width: 575.98) {
    #listaFilmes .card-columns {
        column-count: 1;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    #listaFilmes .card-columns {
        column-count: 3;
    }
}
@media (min-width: 768px){
    #listaFilmes .card-columns {
        column-count: 4;
    }
}