body{
    background-color: lightgray;
}
.titulo-pagina {
    color: aliceblue;
    height: 200px;
    position: relative;
    background-image: url('../img/movie-night.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.table-fixed {
    overflow-y: auto;
    height: 600px;
}
.table-fixed thead th {
    position: sticky;
    top: 0;
}
#botaoNovoCliente, #botaoNovoFilme {
    margin: 5px 15px 10px 0;
}
#formNovoCliente, #formNovoFilme {
    margin-top: 1rem;
}
/* FILME CSS  */
#infoSemFilme {
    margin-top: 50px;
}
#listaFilmes {
    list-style: none;
}
.card-margin {
    margin-bottom: 1rem;
}